<section class="features" id="about">
  <p class="feature-heading">
    <b class="bold-earth">Earth</b><sup class="footnote">TM</sup>
    features many unique mountains, vistas, and oceans.
  </p>
  <p class="feature-text">
    <b class="bold-earth">196</b>
    Countries
  </p>
  <p class="feature-text">
    <b class="bold-earth">7</b>
    Continents
  </p>
  <p class="feature-text">
    <b class="bold-earth">5</b>
    Oceans
  </p>
  <p class="feature-text">
    <b class="bold-earth">1</b>
    You
  </p>


</section>
