<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">Earth<sup class="footnote">TM</sup></a>

    <nav class="site-nav">

          <a class="page-link" href="#about">About</a>
          <a class="page-link" href="#testimonials">Testimonials</a>
          <a class="header-btn clear-btn btn" href="#buy">Buy A Trip</a>

    </nav>




  </div>
  <div class="header-wrapper">
    <h1 class="hero-header">"There's no place like home"</h1>
    <p class="sub-hero">
      Welcome to Earth
    </p>
    <a href="#" class="blue-btn btn" >Buy A Trip</a>
  </div>

</header>
