<section class="pricing" id="buy">

  <div class="pricing-table">
    <div class="table">
      <p class="table-header">Backpacker</p>
      <p class="table-body">>We'll get you here*</p>
      <p class="table-price"><b>$499</b></p>
      <a class="table-btn table-btn-left clear-btn btn" href="">Order</a>

    </div>

    <div class="table table-lg">
      <p class="table-header-lg">Luxery</p>
      <p class="table-body-lg">
       >Get to Earth in Style
      </p>
      <p class="table-body-lg">
       >Your choice of luxery Nations
      </p>
      <p class="table-body-lg">
       >Perfect for the sophsicated
      </p>
      <p class="table-price"><b>$29,999</b></p>
      <a class="table-btn clear-btn btn" href="">Order</a>

    </div>

    <div class="table">
      <p class="table-header">Travler</p>
      <p class="table-body">
      >Safe Travel
      </p>
      <p class="table-body">
       >Mid-Tier Nations
      </p>
      <p class="table-price"><b>$15,999</b></p>
      <a class="table-btn table-btn-right clear-btn btn" href="">Order</a>

    </div>
  </div>
</section>
